.timer_wrapper {
    height: auto;
    width: 395px !important;
    border: 2px solid #656eae;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 125px;
    right: 0;
}

@media all and (max-width: 1024px) {
    .timer_wrapper{
        display: none;
    }
}

.big_text, .top_text {
    width: 100%;
    text-align: center;
    padding: 0 5%;
    font-weight: bolder;
    font-size: 16pt;
    padding-bottom: 0px;
}

#clockdiv{
    color: #000;
    text-align: center;
    font-size: 26px;
}

#clockdiv > div{
    display: inline-block;
}

.smalltext{
    font-size: 16px;
}

.timer_wrapper .number {
    background-image: url("/modules/mod_timer_ra/tmpl/img/bkg.jpg");
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #b7b7b6;
}