.printSelected div {display: none } /* скрываем весь контент на странице */
.printSelected div.printSelection {display: block; } /* делаем видимым только тот блок, который подготовлен для печати */
.printSelected div.printSelection div {display: block; } /* показываем всех его потомков, которые были скрыты первой строкой */
.printSelected div.printSelection * {font-size:18px; }
.printSelected div.printSelection button {display:none;}
.printSelected div.printSelection table {margin:0 auto;}
.printSelected div.printSelection table td{padding:15px 20px;vertical-align:top;}
.printSelected div.printSelection p{margin-bottom:15px;}
.printSelected div.printSelection table td b span,
.printSelected div.printSelection span.hidden{font-weight:bold;}


#calc_dostavki table td{vertical-align:top;padding:10px 20px 10px 0;}
#calc_dostavki table td select{margin-top:5px;padding:3px;}
#calc_dostavki table td b span{font-weight:bold;}
#calc_dostavki table td p{margin-bottom:15px;}
#calc_dostavki table td.text{padding-top:38px;}
#calc_dostavki table td span.hidden{display:none;}
#calc_dostavki button{padding:5px 10px;}

input[type="text"]{padding:3px;}
textarea{padding:3px;}
input[type="text"].error{border:1px solid red;margin-bottom:0;}
input[type="submit"]{padding:0 7px;}

input[type="radio"],input[type="checkbox"]{margin-right:5px;}
input[type="text"],textarea{width:170px;}
textarea{height:50px;}
select{width:180px;}
input#comany_name{width:402px;margin-top:3px;}
label,select{cursor:pointer;}

.form_sended{color:green;font-size:16px;}

.images_bassein,
.images_bassein .bassein_item{position:absolute;}

.images_bassein{right:50px;top:10px;}
.images_bassein img{height:130px;}
.images_bassein .bassein_item{display:none;}

.bassein_item{border:1px solid #cbcbcb;padding:3px;}

#content_block .bassein_item p{margin:0 0 0 5px;}